<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tables - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

    
            <main>
                <div class="container-fluid px-4">
                    <div class="d-flex justify-content-between">
                        <h1 class="mt-4">Math IT 313</h1>

                    </div>

                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="#home">Dashboard</a></li>
                        <li class="breadcrumb-item active">Courses</li>
                    </ol>

                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white text-center mb-4">
                                <div class="d-flex">
                                    <div class="card-body">Total Students</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-light text-black text-center mb-4">
                                <div class="d-flex">
                                    <div class="card-body">100</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white text-center mb-4">
                                <div class="d-flex">
                                    <div class="card-body">Professor</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-light text-black text-center mb-4">
                                <div class="d-flex">
                                    <div class="card-body">Keirm Sabic</div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="d-flex justify-content-between">

                        <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            + Add student to course
                        </button>

                        <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            + Edit professor
                        </button>
                    </div>

                    <div class="modal fade" id="editStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add grade</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <form>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Title</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Midterm">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Grade</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                                placeholder="">
                                            </div>
                                            <div class=" mb-3">
                                            <label for="exampleFormControlTextarea1"
                                                class="form-label">Description</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                rows="3"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="singleCourseDetail" class="row">

                    </div>


                </div>
            </main>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="js/jquery.spapp.min.js"></script>
    <script src="js/jquery.spapp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
    <script src="js/courses.js"></script>
    
</body>

</html>