<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/SchoolGradingSystem/css/styles.css" rel="stylesheet" />
    <link href="/SchoolGradingSystem/css/spapp.css" rel="stylesheet" />

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>

<body class="sb-nav-fixed">

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Welcome Kerim</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="card bg-dark text-white mb-4 flex-row">
                        <div class="card-body text-center">Total Studnets</div>
                        <div class="card-body text-center bg-primary">500</div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="card bg-dark text-white mb-4 flex-row">
                        <div class="card-body text-center">Total Courses</div>
                        <div class="card-body text-center bg-primary">500</div>
                    </div>
                </div>

            </div>
            <h1 class="mt-4">Courses</h1>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="d-flex">
                            <div class="card-body">Math</div>
                            <div class="card-body text-end">IT 313</div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="courseDetails.html">View
                                Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="d-flex">
                            <div class="card-body">Math</div>
                            <div class="card-body text-end">IT 313</div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="d-flex">
                            <div class="card-body">Math</div>
                            <div class="card-body text-end">IT 313</div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="d-flex">
                            <div class="card-body">Math</div>
                            <div class="card-body text-end">IT 313</div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        </div>
        </div>
    </main>

    <script src="/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/SchoolGradingSystem/js/scripts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="/SchoolGradingSystem/js/datatables-simple-demo.js"></script>
    <script src="/js/jquery.spapp.min.js"></script>
    <script src="../js/jquery.spapp.js"></script>

</body>

</html>