<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student DataTable</title>
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- Include Responsive extension CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <!-- Bootstrap CSS -->


    <style>
        .table-container {
            margin-left: 20px;
            margin-right: 20px;
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<body>


    <div class="container-fluid px-4" style="padding-bottom: 500px;">
        <h1 class="text-center">Student List</h1>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#editFormModal">Add
            Student</button>


        <table id="studentTable" class="table table-striped dataTable no-footer"
            style="width:90%; padding-bottom: 100px;" aria-describedby="studentTable_info">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be dynamically populated here -->
            </tbody>
        </table>
    </div>

    <!-- Modal HTML -->
    <div class="modal fade" id="editFormModal" tabindex="-1" aria-labelledby="editFormModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editFormModalLabel">Edit Student</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="mb-3">
                            <label for="editName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="editName" placeholder="Enter name">
                        </div>
                        <div class="mb-3">
                            <label for="editAge" class="form-label">Age</label>
                            <input type="text" class="form-control" id="editAge" placeholder="Enter age">
                        </div>
                        <div class="mb-3">
                            <label for="editEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="editEmail" placeholder="Enter email">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveChangesBtn">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="gradeFormModal" tabindex="-1" aria-labelledby="gradeFormModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gradeFormModalLabel">Enter Grade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="gradeForm">
                        <div class="mb-3">
                            <label for="grade" class="form-label">Exam Title</label>
                            <input type="text" class="form-control" id="grade" placeholder="Enter exam title">
                        </div>
                        <div class="mb-3">
                            <label for="grade" class="form-label">Grade</label>
                            <input type="number" class="form-control" min="1" max="50" id="grade"
                                placeholder="Enter grade">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveGradeBtn">Save Grade</button>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- Include Responsive extension JS -->
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost/SchoolGradingSystem/data/students.json',
                dataType: 'json',
                success: function (data) {

                    $('#studentTable').DataTable({
                        data: data,
                        columns: [
                            { data: 'Name' },
                            { data: 'Age' },
                            { data: 'Email' },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    return '<button class="btn-edit btn btn-primary" data-bs-toggle="modal" data-bs-target="#editFormModal" data-id="' + row.id + '">Edit</button> <button class="btn-grade btn btn-primary" data-id="' + row.id + '">Grade</button>';
                                }
                            }
                        ]
                    });
                }
            });


            $('#studentTable').on('click', '.btn-edit', function () {
                var id = $(this).data('id');
                $('#editFormModal').modal('show');
                console.log('Edit clicked for ID: ' + id);
            });



            $('#studentTable').on('click', '.btn-grade', function () {
                var id = $(this).data('id');

                $('#gradeFormModal').modal('show');
                console.log('Grade clicked for ID: ' + id);
            });

            $('#saveGradeBtn').on('click', function () {
                var grade = $('#grade').val();
                console.log('Grade saved:', grade);
                $('#gradeFormModal').modal('hide');
            });
        });
    </script>

</body>

</html>